body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/Solar_System_NiceModel_online.jpg?itok=sUQhdyIl');
  background-color: #000000;
  background-size: 190vh;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: left;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}